
//index page
@font-face {
  font-family: "Share Tech Mono";
  src: url("../fonts/ShareTechMono-Regular.ttf");

  font-family: "Ravenscroft";
  src: url("../fonts/Ravenscroft.ttf");
}

body {
  padding: 0px;
  margin: 0px auto;
  background-color: rgba(6, 6, 6, 0.73);
}

.topbar {
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  border: solid 3px rgba(206, 206, 206, .7);
  border-bottom: hidden;
  background-color: #000000;
}

.centerbox {
  width: 80%;
  margin: 0 auto;


}

.flex-nav {
  width: 100%;
  background-color: #000000;
  border: solid 3px rgba(206, 206, 206, .7);
  border-left: hidden;
  border-right: hidden;
  padding: 5px;
}

.nav-links {
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  font-family: "Changa Regular", monospace;
)
}

.nav-link {
  color: white;
  text-decoration: none;
}

.main-body {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  color: white;
  margin-top: 20px;
  background-color: #000000;
  border: solid 3px rgba(206, 206, 206, .7);
  font-family: "Share Tech Mono", monospace;
}

.welcome h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: underline;
  width: 100%;
  font-size: 60px;
  font-family: "Ravenscroft";
  padding: 0;
}

.welcome {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-around;
  margin-bottom: 20px;
}

.welcome hr{
  width: 100%;
  margin: 0 auto;
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.main-body p {
  padding: 5px;
  width: 95%;
}

#centerLogo {
  display: flex;
  width: 310px;
  justify-content: space-between;
}

.content-container {
  display: flex;
}

.new-releases-container {
  border: solid 2px rgba(206, 206, 206, .7);
  border-left: hidden;
  display: flex;
  flex-direction: column;
  padding: 5px;
  align-items: center;
  width: 200px;
}


.new-release-items {
  text-align: center;
}

.new-item img{
  width:180px;
  height: 180px;
  margin: 0 auto;
}

.new-releases-header {
  font-size: 23px;
  margin: 5px 5px;

}

.new-releases-container hr {
  width: 100%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}

.new-releases-container a {
  margin: 10px 0px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}


.news-container{
  padding: 5px 5px 10px 5px;
  margin-left: 10px;
  /*width: 700px;*/
  display: flex;
  flex-direction: column;

}

.news-container hr {
  width: 100%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));

}

.news-container-header {
  margin: 0 auto;
  font-size: 35px;
  text-align: center;
}

.news-item {
  width: 100%;
  border: solid 2px rgba(206, 206, 206, .7);
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
}

.news-item h5 {
  text-align: center;
  text-decoration: underline;
}

.news-item img {
  width: 200px;
}

.news-item a {
  color: white;
}

@media only screen and (max-width: 950px){
  .nav-links {
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 660px){
  .welcome h1 {
    font-size: 35px;
  }

  .content-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
  }

  .new-releases-container {
    border: solid 2px rgba(206, 206, 206, .7);
  }

  .news-container {
    width: auto;
  }
}

//for the band directory page
.centerbox {
  width: 80%;
  margin: 0 auto;

}

.topbar {
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  border: solid 3px rgba(206, 206, 206, .7);
  border-bottom: hidden;
  border-top: hidden;
  background-color: #000000;
  font-family: "Share Tech Mono", monospace
}

.nav-links {
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  font-family: "Share Tech Mono", monospace;
  margin: 0px 5px;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: #000000;
  border: solid 3px rgba(206, 206, 206, .7);
  border-left: hidden;
  border-right: hidden;
}

#longLogo{
  width: 400px;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.main-body {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  color: white;
  margin-top: 20px;
  background-color: #000000;
  border: solid 3px rgba(206, 206, 206, .7);
  font-family: "Share Tech Mono", monospace;
}

.bands-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 85%;
  align-items: center;
}

.bands-container h1 {
  font-size: 50px;
}

.band {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  align-items: center;
}

.band-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  padding-top: 10px;
  margin-bottom: 50px;
}

.band-text hr{
  width: 100%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}

.bands-container hr {
  width: 100%;
  padding: 0;
  margin: 0 auto;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}

.band img {
  width: 400px;
}

.band-title {
  font-size: 40px;
  font-weight: bold;
}

@media only screen and (max-width: 610px) {
  .nav {
    flex-direction: column;
  }

  .input-forms {
    flex-direction: column;
  }

  .large-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
  }

  #longLogo {
    width: 100%;
    height: auto;
  }

  .band img {
    width: 100%;
    height: auto;
  }
}

//store page
.main-body {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  color: white;
  margin-top: 20px;
  background-color: #000000;
  border: solid 3px rgba(206, 206, 206, .7);
  font-family: "Share Tech Mono", monospace;
}

.store-container {
  width: 100%;
  color: white;
}

.store-header {
  width: 100%;
  text-align: center;
}

.store-header hr {
  width: 100%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));

}

.store-items {
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
}

.store-item {
  width: 200px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0px 5px 30px 5px;
}

.store-item h5 {
  margin: 0 auto;
}

.store-item img {
  width: 200px;
  height: 200px;
}
