@font-face {
    font-family: "Share Tech Mono";
    src: url("../../../fonts/ShareTechMono-Regular.ttf");

    font-family: "Broken Planewing";
    src: url("../../../fonts/broken_planew.ttf");
}

body {
    padding: 0px;
    margin: 0px auto;
    background-color: rgba(6, 6, 6, 0.73);
}

.centerbox {
    width: 80%;
    margin: 0 auto;

}

.topbar {
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    border: solid 3px rgba(206, 206, 206, .7);
    border-bottom: hidden;
    border-top: hidden;
    background-color: #000000;
    font-family: "Share Tech Mono", monospace
}

.nav-links {
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    font-family: "Share Tech Mono", monospace;
    margin: 0px 5px;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: #000000;
    border: solid 3px rgba(206, 206, 206, .7);
    border-left: hidden;
    border-right: hidden;
}

#longLogo{
    width: 400px;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.main-body {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    color: white;
    margin-top: 20px;
    background-color: #000000;
    border: solid 3px rgba(206, 206, 206, .7);
    font-family: "Share Tech Mono", monospace;
}

.content-container hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}

.content-container p {
    text-align: center;
}

.paragraph-header {
    text-align: center;
    width: 100%;
}

#aboutLogo {
    display: flex;
    margin: 0 auto;
    width: 400px;
    height: auto;
}

@media only screen and (max-width: 610px){
    .nav {
        flex-direction: column;
    }

    .input-forms{
        flex-direction: column;
    }

    .large-text{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .form-head {
        display: flex;
        width: 100%;
        height: auto;
        flex-direction: column;
    }

    .nav-links {
        display: flex;
        flex-direction:column;
    }

    #aboutLogo{
        width:100%;
        height: auto;
    }

    #longLogo {
        width:100%;
        height: auto;
    }
}